@import url(http://fonts.googleapis.com/css?family=Lato:100,300);

html, body {
	position: relative;
	min-height: 100%;
	margin: 0px;
	background-color: #17afae;
	background: linear-gradient(90deg, #00A9EC, #27B56E);
}

body {
	padding: 60px 20px;
}

div {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}

p, span, a {
	font-family: "Lato", "Helvetica", sans-serif;
	font-size: 1.5em;
	font-weight: 100;
	color: #ffffff;
	margin: 0;
}

@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 812px),
       (min-resolution: 192dpi) and (max-device-width: 812px) {
	p, span, a {
		font-weight: 300;
	}
}

a {
	text-decoration: none;
}

#header {
	margin-bottom: 50px;
}

#name {
	font-size: 4.5em;
	font-weight: 300;
	margin-bottom: 0.25em;
}

#title {
	font-size: 2.5em;
}

#intro, #more-info-text, #side-projects-text {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#more-info-text, #side-projects-text {
	margin-bottom: 20px;
}

#intro, .more-info-links, .side-project-links {
	margin-bottom: 40px;
}

.info-link {
	display: block;
	padding: 4px 20px 6px;
	line-height: 30px;
	border: 1px solid #ffffff;
	border-radius: 3px;
	font-size: 1.25em;
	position: relative;
	transform: translateZ(0);
	margin: 0px auto 20px;
	max-width: 200px;
}

@media 
only screen and (min-width: 640px) {

	.info-link {
		display: inline-block;
		margin-bottom: 0px;
	}

	.info-link:not(:last-child) {
		margin-right: 40px;
	}
	
}

.info-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.35s ease;
}

.info-link:hover,
.info-link:active {
  color: #17afae;
}

.info-link:hover:before,
.info-link:active:before {
  transform: scaleX(1);
}

.info-link:active:before {
  opacity: 0.9;
}

.project-link {
	display: inline-block;
	width: 40px;
	height: 40px;
}

.project-link:not(:last-child) {
	margin-right: 60px;
}

.project-link:hover {
	opacity: 0.8;
}