html, body {
	height: 100%;
	margin: 0px;
	background-color: #222;
	background: radial-gradient(circle at 50% 35%, #333, #222);
}

div {
	box-sizing: border-box;
}

.break-2, .break-3 {
	display: inline;
}

#header {
	height: 35%;
	padding: 1% 5%;
	text-align: center;
}

#header img {
	max-height: 100%;
	max-width: 800px;
	position: relative;
	bottom: -20%;
}

#content {
	height: 65%;
	position: relative;
}

#links {
	position: relative;
	text-align: center;
	top: 25%;
	padding-bottom: 5%;
}

 
/* Smartphones (portrait and landscape) -------------------- */
@media
only screen and (min-device-width: 320px) and (max-device-width: 640px),
only screen and (min-width: 320px) and (max-width: 640px)
 {
	#header { height: 15%; }
	#content { height: 85%; }
	#links { top: 5%; }
}
 
 
/* Smartphones & Tablets (portrait & landscape) ------------ */
@media
only screen and (min-device-width: 640px) and (max-device-width: 960px) {
	#header { height: 25%; }
	#content { height: 75%; }
	#links { top: 10%; }
	.break-3 { display: block; }
}

@media
only screen and (min-width: 640px) and (max-width: 1100px) and (min-device-width: 960px) {
	#header { height: 25%; }
	#content { height: 75%; }
	#links { top: 10%; }
	.break-3 { display: block; }
}
 

.link {
	display: inline-block;
	position: relative;
	width: 150px;
	height: 150px;
	background-color: #f9f9f9;
	border-radius: 10%;
	overflow: hidden;
	margin: 15px;
}

@media
only screen and (min--moz-device-pixel-ratio: 1.5) and (max-device-width: 960px),
only screen and (-o-min-device-pixel-ratio: 3/2) and (max-device-width: 960px),
only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-device-width: 960px),
only screen and (min-device-pixel-ratio: 1.5) and (max-device-width: 960px),
only screen and (min-resolution: 1.5dppx) and (max-device-width: 960px) {
	.link { width: 300px; height: 300px; margin: 50px; }
}

.link img {
	position: absolute;
	top: 15%;
	left: 15%;
	width: 70%;
	height: 70%;
}

.wave {
	width: 110%;
	height: 110%;
	position: absolute;
	left: -5%;
	top: 100%;
	transition: .75s cubic-bezier(0.215, 0.610, 0.355, 1.000);
	opacity: 0.8;
	background-size: 40px 200px;
}

.link:hover .wave {
	top: -8%;
}

@media
only screen and (min-device-width: 320px) and (max-device-width: 960px) {
	.wave {
		top: 3%;
		background-size: 40px 400px;
	}
}

#red-wave {
	background-image: radial-gradient(60px circle at 20px -20px, rgba(255, 255, 255, 0) 50%, #cb2027 50%);
}

#orange-wave {
	background-image: radial-gradient(60px circle at 20px -20px, rgba(255, 255, 255, 0) 50%, #d37622 50%);
}

#yellow-wave {
	background-image: radial-gradient(60px circle at 20px -20px, rgba(255, 255, 255, 0) 50%, #f2da00 50%);
}

#in-blue-wave {
	background-image: radial-gradient(60px circle at 20px -20px, rgba(255, 255, 255, 0) 50%, #006699 50%);
}

#fb-blue-wave {
	background-image: radial-gradient(60px circle at 20px -20px, rgba(255, 255, 255, 0) 50%, #3B5998 50%);
}

#purple-wave {
	background-image: radial-gradient(60px circle at 20px -20px, rgba(255, 255, 255, 0) 50%, #753c9e 50%);
}